<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929263022051-pnjljb3da8iuca4fi0se0rug5lgita4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929263022051-pnjljb3da8iuca4fi0se0rug5lgita4n</string>
	<key>API_KEY</key>
	<string>AIzaSyAAAC1bLpxqFXMHgmn3zJ6b8Y7uv3Fr6jg</string>
	<key>GCM_SENDER_ID</key>
	<string>929263022051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capekNgodingWeb</string>
	<key>PROJECT_ID</key>
	<string>pos-restaurant-134b2</string>
	<key>STORAGE_BUCKET</key>
	<string>pos-restaurant-134b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929263022051:ios:09d35225942df3d7cc3ad6</string>
</dict>
</plist>